* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: tahoma;
  overflow-x: hidden;
}

.left-slide a img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
  position: fixed;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
}

.right-slide {
  right: 0;
  width: 50%;
}

.right-slide ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.right-slide a {
  color: rgb(240, 233, 233);
  text-decoration: none;
}

.right-slide a:hover {
  opacity: 0.5;
}

.home {
  background-color: gray;
  height: 200px;
}

hr.split {
  width: 300px;
  height: 2px;
  background: #000;
  margin: 10px auto;
}

.about {
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.about .text{
  display: flex;
  justify-content: space-around;
  text-align: justify;
  margin: 20px 0;



}

.about .text p{
  width: 40%;
  margin: 0 40px;
  font-size: 18px;

}

.activity{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
}


.activity .cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.activity .card{
  width: 350px;
  margin: 20px 20px;
  flex-direction: column;
  display: flex;
  background: white;
  padding: 0 0 5px 0;
  border-radius: 5px;


}

.activity .card img{
  border-radius: 5px;
  width: 100%;
}

.activity .card p{
  font-size: 14px;
  text-align: justify;
}
